<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/formStyle.css" rel="stylesheet" type="text/css">
    <link href="/css/switch.css" rel="stylesheet" type="text/css">
    <link href="/css/commonStyle.css" rel="stylesheet">
    <title th:text="#{edit.User.title}"></title>
</head>
<body>
<th:block th:include="i18n.html"></th:block>
<div class="menu">
    <h2 th:text="#{add.new.userAccount.page.title}+'.'"></h2>
    <div class="inner-menu">
        <h4 align="right">
            <a href="/user" th:title="#{back.UserPage.Title}" th:text="#{back.UserPage}" style="text-decoration: none">
                <img src="/images/RU.png" width="30px" height="30px" class="round">
            </a>
            <br>
            <br>
            <a href="/logout">
                <img th:text="#{logout}" th:src="@{/images/exit.png}" width="40px" height="40px" style="text-decoration: none">
            </a>
        </h4>
    </div>
</div>
</body>
    <form th:method="POST" th:action="@{/user/new}" th:object="${user}" class="transparent">
    <div class="form-inner">
        <h3 th:text="#{add.new.userAccount.page.title}"></h3>
        <label for="username" th:text="#{loginPage.username}"></label>
        <input type='text' id="username" name='username' value=''>
        <div align="center" style="color: #fa0404" th:text="${fieldNameError}"></div>

        <label for="password" th:text="#{loginPage.password}"></label>
        <input type='password' id="password" name='password' value=''/>
        <div align="center" style="color: #fa0404" th:text="${fieldPassError}"></div>

        <label for="firstName" th:text="#{add.new.userAccount.page.firstName}"></label>
        <input type='text' id="firstName" name='firstName' value=''/>
        <div align="center" style="color: #fa0404" th:text="${fieldFirstNameError}"></div>

        <label for="lastName" th:text="#{add.new.userAccount.page.lastName}"></label>
        <input type='text' id="lastName" name='lastName' value=''/>
        <div align="center" style="color: #fa0404" th:text="${fieldLastNameError}"></div>

        <label for="role" th:text="#{add.new.userAccount.page.role}"></label>
        <select required id="role" name="role">
        <option th:each="role : ${roles}" th:value="${role.getId()}"  th:text="${role.getName().toLowerCase()}"
                style="background-color: lightgray; color: #4e2b44"></option>
        </select>

        <label th:text="#{add.new.userAccount.page.status}"></label>
        <label class="switch">
            <input type="checkbox" name="status" id="status" value="ACTIVE">
            <span class="slider round"></span>
        </label>

        <input type="submit" name="submit" th:value="#{save.new.userAccount.page.saveUser}">
    </div>
</form>
</html>

</div>