<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{title.accessDeniedPage}"></title>
</head>
<th:block th:include="i18n.html"></th:block>
<body>
<div class="menu">
    <h2 th:text="#{title.accessDeniedPage}+'.'"></h2>
    <div class="inner-menu">
        <h4 align="right">
            <a href="/user" th:title="#{back.UserPage.Title}" th:text="#{back.UserPage}" style="text-decoration: none">
                <img src="/images/RU.png" width="30px" height="30px" class="round">
            </a>
            <br>
            <br>
            <a href="/logout">
                <img th:text="#{logout}" th:src="@{/images/exit.png}" width="40px" height="40px" style="text-decoration: none">
            </a>
        </h4>
    </div>
</div>
<h3 align="center" th:text="#{message.accessDeniedPage}" style="color: red;"></h3>

</body>
</html>